# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\[G].Data Structure & Algorithm Courses\Data Structure and algorithms UH California Specialization\COURSE 5\Week 3\Week 3 Assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
