# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\[G].Data Structure & Algorithm Courses\Data Structure and algorithms UH California Specialization\COURSE 6\Assignment 3 Solver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
